<%= form_for(@certificate) do |f| %>
    <% if @certificate.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@certificate.errors.count, "error") %> prohibited this certificate from being saved:</h2>

          <ul>
            <% @certificate.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :uniqueid %><br />
      <%= f.text_field :uniqueid %>
    </div>
    <div class="field">
      <%= f.label :ssldata %><br />
      <%= f.text_field :ssldata %>
    </div>
    <div class="field">
      <%= f.label :certify_authority_id %><br />
      <%= f.number_field :certify_authority_id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
