<h1>Add a certificate signing request!</h1>

<%= form_for(@certificate) do |f| %>
    <% if @certificate.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@certificate.errors.count, "error") %> prohibited this certificate_authority from being saved:</h2>

          <ul>
            <% @certificate.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>You can paste a CSR in PEM format which will be signed from the CA</p>
    <div class="field">
      <textarea id="csr" name="csr" size="30" type="text" style="width:400px; height:150px;"></textarea><br/>
    </div>

    <p>OR</p>
    <p>You select a key pair from the database</p>
    <div class="field">
      <%= collection_select(:keypair, :id, @authority.key_pairs, :id, :uniqueid, options ={:prompt => "-Select a key pair"}) %>
    </div>

    <br/>
    <br/>

    <div class="actions">
      <%= f.submit %>
    </div>

    <br/>
<% end %>
