<p id="notice"><%= notice %></p>

<p>
  <b>Unique:</b>
  <%= @certificate.uniqueid %>
</p>

<p>
  <b>Data:</b>
  <%= @certificate.ssldata %>
</p>

<p>
  <b>Certifcate authority:</b>
  <%= @certificate.authority.commonname %>
</p>

<%= link_to 'Back', authority_path(@certificate.authority) %>
