<h1><%= @authority.organization %> (<%= @authority.commonname %>)</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Unique:</b>
  <%= @authority.uniqueid %>
</p>

<p>
  <b>City:</b>
  <%= @authority.city %>
</p>

<p>
  <b>State:</b>
  <%= @authority.state %>
</p>

<p>
  <b>Country:</b>
  <%= @authority.country %>
</p>

<p>
  <b>Email:</b>
  <%= @authority.email %>
</p>

<p>
  <b>Private-Key:</b>
  <%= @authority.private_key.to_pem %>
</p>

<p>
  <b>Root-Certificate:</b>
  <%= @authority.root_certificate.to_pem %>
</p>

<h1>Listing certificates</h1>

<table>
  <tr>
    <th>Serial</th>
    <th>Data</th>
    <th></th>
    <th></th>
  </tr>

  <% @authority.certificates.each do |certificate| %>
      <tr>
        <td><%= certificate.serial %></td>
        <td><%= certificate.ssldata %></td>
        <td><%= link_to 'Show', certify_certificate_path(certificate, :certify_authority_id => certificate.authority)%></td>
        <td><%= link_to 'Destroy', certify_certificate_path(certificate, :certify_authority_id => certificate.authority), confirm: 'Are you sure?', method: :delete %></td>
      </tr>
  <% end %>
</table>
<BR/>

<%= link_to 'Add Certificate', new_certify_certificate_path(@authority) %> |
<%= link_to 'Back', certify_authorities_path %>
