<h1><%= @authority.organization %> (<%= @authority.commonname %>)</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Unique:</b>
  <%= @authority.uniqueid %>
</p>

<p>
  <b>City:</b>
  <%= @authority.city %>
</p>

<p>
  <b>State:</b>
  <%= @authority.state %>
</p>

<p>
  <b>Country:</b>
  <%= @authority.country %>
</p>

<p>
  <b>Email:</b>
  <%= @authority.email %>
</p>

<p>
  <b>Private-Key:</b>
  <%= @authority.private_key.to_pem %>
</p>

<p>
  <b>Root-Certificate:</b>
  <%= @authority.root_certificate.to_pem %>
</p>

<h1>Listing certificates</h1>
<%= render "certify/certificates/index_partial", :certificates => @authority.certificates %>
<BR/>

<h1>Listing keys</h1>
<%= render "certify/key_pairs/index_partial", :key_pairs => @authority.key_pairs%>
<BR/>


<%= link_to 'Add Certificate', new_certify_certificate_path(@authority) %> |
<%= link_to 'Add Key Pair', new_certify_key_pair_path(@authority) %> |
<%= link_to 'Back', certify_authorities_path %>
